
<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src="https://maps.geoapify.com/v1/staticmap?style=toner-grey&width={{@width}}&height={{@height}}&center=lonlat:{{@lng}},{{@lat}}&zoom={{@zoom}}&marker=lonlat%3A{{@lng}}%2C{{@lat}}%3Btype%3Amaterial%3Bcolor%3A%234c905a%3Bicon%3Atree%3Bicontype%3Aawesome&apiKey={{this.token}}"
    width={{@width}} height={{@height}}
  >
</div>